
#logo{
	float: left;
	width:auto;
	height: 50px;
	padding: 3px;
	margin: 10px 10px 1px 10px;
}

nav{
	padding: 10px 0 10px 0;
	font-size:1.4em;
	width:100%;
	text-align: center;
	text-transform: uppercase;
	margin:auto;
	background-color: #889093;
}

nav li{
	display: inline;
	list-style-type: none;
	padding-left: 0;
	padding-right: 5px;
}

#mainsect1{
	width: 158.7%;
}

#mainsect2{
	width: 158.7%;
}

nav li a{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
