
*{
		margin: 0;
		padding:0;
}
body{
		background-color: #889093;
		color: #FFFFFF;
}
img{
	max-width: 100%;
}
h1{
	text-align: center;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 1em;
	margin-bottom: 1em;
}
header{

}

aside{
	background-color: #00FF00;
	margin-top: 0px;
	margin-left: 1000px;
	width: 50%;
	height: 905px;
}

p{
	display: block;
}
section{
	padding:2em;
}
ul, ol{
	margin: 1em 0 1em 0;
}
li{
	margin-left: 2em;
}
strong{
	font-weight: bold;
	color: #ff0000;
	font-size: 2.5em;
}
footer{
	padding: .75em;
	clear:both;
	background-color: #000000;
}
#contactus1{
	background-color: #889093;
}
address{
	padding: .2em;
}
nav a:hover{
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	font-size: 1em;
	padding: .2em;
	border-radius: 5px;
	text-decoration: none;
}
.center{
	text-align: center;
}

#mainsect1{
	background-color: purple;
}
#mainsect01{
	background-color: black;
}
#mainsect02{
	background-color: black;
}
#mainsect2{
	background-color: #065503;
}

#showcase{
	background-color:#889093;
	background-image: url(images/d&d.jpg);
	background-size: cover;
	height: 100vh;
	padding: 30vh 2% 2% 2%;;
}
#showcase1{
	background-color:#889093;
	background-image: url(images/d&dST.jpg);
	background-size: cover;
	height: 50vh;
	padding: 30vh 2% 2% 2%;;
}
#intro{
	text-align: center;
	font-size: 1.5em;
}

@media screen and (min-width: 600px){
	main{
		width: 60%;
		float: left;
	}
}
